* { box-sizing: border-box; vertical-align: top; }

body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

body.home { background: url('../img/home-bg.jpg') repeat-x; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  background: #fff;
  z-index: 50;
}

.consign-prompt { position: absolute; right: 46px; top: 27px; }
.consign-prompt, .consign-prompt a { font-size: 13px; color: #666; }


.nav-wrapper {
  text-align: center;
  margin: 11px 0 0 30px;
}

ul, li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin: 0 15px;
}

.logo { margin-right: 15px; cursor: pointer; }

.search-wrapper {
  position: relative;
  display: inline-block;
  width: calc(100% - 691px);
}

.search-field {
  border: 2px solid #e5e5e5;
  background: #f8f8f8;
  font-family: 'Adobe Garamond Pro', 'Adobe Garamond', Garamond, 'Times New Roman', times, serif;
  font-size: 18px;
  padding: 7px;
  position: relative;
  width: 100%;
  padding-left: 36px;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 11px;
  z-index: 5;
}

.search-field:focus {
  outline: none;
  border-color: #6E1FFF;
}

.buttons {
  position: absolute;
  top: 27px;
  right: 15px;
}

.button {
  background: #000;
  padding: 11px 20px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.ghost {
  border: 1px solid #e5e5e5;
  color: #000;
  background: transparent;
  margin-right: 15px;
}

.sub-nav {
  display: none;
}

.content.collect .sub-nav.collect { display: block; }
.content.visit .sub-nav.visit { display: block; }

.nav-item { cursor: pointer; }
.nav-item.active, .nav-item:hover { color: #6E1FFF; }

.sub-nav li {
  font-size: 32px;
  font-family: 'Adobe Garamond Pro', 'Adobe Garamond', Garamond, 'Times New Roman', times, serif;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #ccc;
  cursor: pointer;
}

.sub-nav li:hover { color: #000; }
.sub-nav li.active { color: #000; }

.sub-nav li:after {
  display: block;
  width: 17px;
  height: 38px;
  background: url('../img/divider.svg');
  content: '';
  position: relative;
  display: inline-block;
  top: 11px;
  margin: 0 10px;
}

.sub-nav li:last-child:after {
  opacity: 0;
}

.content {
  margin: 100px auto 0 auto;
  width: 1216px;
  background-repeat: no-repeat;
  background-position: center 100px;
  position: relative;
}

.content.google { background-image: url(../img/google.jpg); height: 2079px; background-position: center top; margin-top: 0; }
.content.artist { background-image: url(../img/artist.jpg); height: 9434px; background-position: center top; margin-top: 70px; }
.content.home { background-image: url(../img/home.jpg); height: 4384px; background-position: center top; margin-top: 70px; }

.content.collect.all-works { background-image: url(../img/all-works.jpg); height: 3458px; }
.content.collect.auctions { background-image: url(../img/auctions.jpg); height: 4778px; }
.content.collect.artists { background-image: url(../img/artists.jpg); height: 4561px; }

.content.visit.shows { background-image: url(../img/shows.jpg); height: 4154px; }
.content.visit.fairs { background-image: url(../img/fairs.jpg); height: 4531px; }
.content.visit.galleries { background-image: url(../img/galleries.jpg); height: 14031px; }
.content.visit.museums { background-image: url(../img/museums.jpg); height: 6431px; }

.content.read { background-image: url(../img/read.jpg); height: 7719px; background-position: center top; }

.signup-wrapper { display: none; }

.content.artist .signup-wrapper {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #6E1FFF;
  padding: 19px 0;
  background: #fff;
}
