body { font-family: helvetica, arial, sans-serif; font-size: 17px; line-height: 23px; }
.gist { font-size: 13px; line-height: 15px; }
ul, li { list-style: none; list-style-type: none; margin: 0; padding: 0; }
div { vertical-align: top; }
#wrapper { width: 768px; margin: 53px auto 0 auto; padding: 0; }

h2, h3 { font-size: 30px; line-height: 1; font-weight: normal; margin: 0; padding: 0; }

.accordion-header.open.affix { position: fixed; top: 0; }


#navigation { width: 748px; position: fixed; top: 0; background: #fff; border-bottom: 1px solid; padding: 10px 10px 20px 10px; }
#navigation li, #footer li { display: inline-block; *display: inline; zoom: 1; margin-right: 30px; }
#navigation li#home { margin-right: 126px; }
#navigation li#home a { border: none; }

.accordion-icon-open, .accordion-icon-closed { float: right; font-size: 17px; }
.accordion-icon-closed { display: none; font-weight: bold; }		

#footer { padding: 20px 10px 100px 10px; }

	
p { margin: 0; }
a { text-decoration: none; color: #000; border-bottom: 1px solid #ccc; }
a:hover { background: #f1f1f1; }
a:active { background: #ff0; }
a img { border: none; background: none; }
a.no-underline { border: none !important; background: transparent !important; }


.accordion-row { width: 100%; border-top: 1px solid; padding: 0; }
.accordion-header { font-weight: normal; margin: 0; padding: 5px 10px; line-height: 50px; height: 50px; }
.accordion-header .icon, .accordion-header .title { padding: 0; display: inline-block; height: 50px; }
.accordion-header .icon { width: 81px; margin: 0; text-align: center; }
.accordion-header .title { font-size: 30px; line-height: 45px; padding: 5px 0 0 0; }
.accordion-header:hover { background: #f1f1f1; cursor: pointer; }
.accordion-header:active { background: #ff0; }

.lab-icon { background: url('../images/lab-icon.png') no-repeat; }
.studio-icon { background: url('../images/studio-icon.png') no-repeat; }
.readings-icon { background: url('../images/readings-icon.png') no-repeat; }
.students-icon { background: url('../images/students-icon.png') no-repeat; }
.icon.open { background-position: -81px 0; }
		
.accordion-row:last-child { border-bottom: 1px solid; }
		
.accordion-body { display: none; vertical-align: top; padding: 30px 0; background: url('../images/expanded-fold-down.gif') repeat-x; }
.accordion-body ol li { margin: 0 0 0 30px; list-style: decimal;}
.accordion-body h2 { margin: 0 0 23px 0; }
.accordion-body h3 { font-size: 17px; line-height: 1; font-weight: bold; }
.accordion-body p { margin: 0 0 23px 0; }
.accordion-body p.studio-due-date, .accordion-body p.studio-due-date { margin: -23px 0 23px 0; }
.accordion-body p.studio-due-date { color: #00f; }
.accordion-body p.lab-due-date { color: #f00; }
.accordion-body p.last { margin: -23px 0 0 0; }

.announcement, .discussion, .lecture, .assignments { border-bottom: 1px solid; margin: 0 10px 23px 10px; padding: 0 0 23px 0; }
.assignments.last { border-bottom: none; margin-bottom: 0; }
.readings { font-size: 0; line-height: 0; }
.readings h2, .readings h3 { margin-left: 10px; margin-right: 10px; }
.file-wrapper:hover a { background: #f1f1f1; }
.file-wrapper:active a { background: #ff0; }

h2.title-slide { font-size: 55px; line-height: 1; margin: 0; padding: 0; }

.accordion-content { padding: 0 10px; }
.readings-and-resources-section { font-size: 0; line-height: 0; border-bottom: 1px solid; margin: 0 0 23px 0; padding: 0 0 23px 0; }
.readings-and-resources-section.last { margin: 0; padding: 0; border: none; }
.readings-and-resources-section h2 { margin-left: 10px; }
.column-3up { font-size: 17px; line-height: 23px; width: 236px; padding: 0 10px 20px 10px; display: inline-block; *display: inline; zoom: 1; }
.column-3up ul { margin: 0 0 23px 0; }
.column-3up ul.last { margin: 0; }

ul.bulleted-list li { margin: 0 0 0 45px; list-style: circle; list-style-type: circle; font-size: 17px; line-height: 23px; }
ul.bulleted-list li.last { margin-bottom: 23px; list-style: circle; list-style-type: circle; font-size: 17px; line-height: 23px; }
ul.bulleted-list li.header { margin: 0 0 0 10px; list-style: none; list-style-type: none ; }

.slide-wrapper { margin: 0 0 50px 0; padding: 0; width: 100%; }
.slide { background: #f1f1f1; text-align: center; padding: 20px; }
.slide img { margin: 0; padding: 0; max-width: 100%; height: auto; }
.slide p { font-size: 22px; line-height: 1.25; padding: 12px 0; margin: 0; }
.discussion-slide { background: #000; text-align: left; padding: 20px; }
.discussion-slide img { margin: 0 15px 0 0; }
.slide-wrapper p.last { margin: 0; }

.announcement-slide { padding: 10px 15px; background: #ff0; font-size: 30px; line-height: 1; text-align: center; }
.announcement-slide h2 { font-size: 17px; line-height: 1; text-decoration: underline; margin: 0; padding: 0; }
.announcement-slide p { margin: 0; padding: 0; }

iframe {
	padding:0;
	margin:0;
}

.codesample {
	font-family: Courier, monospace;
	text-align: left;
	color:blue;
}

.left {
	text-align: left;
}
