* { box-sizing: border-box; }
div { vertical-align: top; }

body {
  font-size: 0;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  color: #29439f;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px 0;
}

.c {
  margin: 0 20px 5em 20px;
  font-size: 18px;
  line-height: 1.6em;
  display: inline-block;
}

.c1 { width: calc(25% - 40px); }
.c2 { width: calc(50% - 40px); }
.c4 { width: calc(100% - 40px); }

.no-padding { padding: 0; }

a {
  color: #29439F;
  text-decoration: none;
  border-bottom: 1px solid #29439f;
}

a:hover { background: rgba(41,67,159,.25); }

ul, li { margin: 0 0 0 10px; padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.6em 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
}

h1 { margin: 0; }

p { 
  margin: 0; 
  padding: 0; 
  max-width: 620px;
}

@media only screen and (max-width: 960px) {
  .wrapper {
    max-width: 768px;
  }

  .c1 { width: calc(50% - 40px); }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .c1, .c2, .c3, .c4 { width: calc(100% - 40px); }
}