* { box-sizing: border-box; }
div { vertical-align: top; }

body {
  font-size: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #3C5AC3;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
  padding: 40px;
}

.c1 { width: 25%; }
.c2 { width: 50%; }
.c4 { width: 100%; }

.meta {
  margin: 0 0 80px 0;
}

.why {
  margin: 0 0 80px 0;
  font-size: 20px;
  line-height: 1.6em;
}

.quote {
  border-left: 10px solid #3C5AC3;
  padding: 0 0 0 30px;
}

.menu {
  width: calc(25% - 40px);
  padding: 30px;
  margin: 0 20px 40px 20px;
  display: inline-block;
  font-size: 15px;
  line-height: 1.6em;
  color: #000;
  font-family: 'Roboto Mono', monospace;
  background: #ffa;
}

.labs { background: #C2BDB2; }
.students { background: #A9D7AE; }
.resources { background: #FFE2AD; }
.reminder { background: #FCD9CA; }

.menu h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 0;
}

.project h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 0;
}

.project {
  display: inline-block;
  font-size: 20px;
  line-height: 1.6em;
  padding: 0 30px 0 0;
}


a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

a:hover { background: rgba(255,255,255,.5); }


ul, li { margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 1.4em;
  font-weight: normal;
}

p { max-width: 775px; }

img {
  width: 25%;
  padding: 15px;
}

iframe { padding: 15px; }

.album h2 { margin-bottom: 50px; }

.album, .project {
  margin-bottom: 200px;
}
