@font-face {
  font-family: "unica";
  src: url("../fonts/Unica77LLSub-Medium.eot");
  src: url("../fonts/Unica77LLSub-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Unica77LLSub-Medium.woff2") format("woff2"),
       url("../fonts/Unica77LLSub-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "unica";
    src: url("../fonts/Unica77LLSub-Regular.eot");
    src: url("../fonts/Unica77LLSub-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Unica77LLSub-Regular.woff2") format("woff2"),
         url("../fonts/Unica77LLSub-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; vertical-align: top; }

body {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: 'unica', Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
}

.wrapper {
  width: 660px;
  height: 595px;
  margin: 0 auto 30px auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.wrapper.initializing .control-panel,
.wrapper.initializing .current-increment,
.wrapper.initializing .activity {
  opacity: 0;
}

.header {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}

.control-panel, .activity-wrapper {
  width: 330px;
  display: inline-block;
}

.control-panel { padding: 10px 0 10px 10px; }
.activity-wrapper { padding: 10px 10px 10px 0; }

.action-buttons {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 0;
  display: none;
}

.typing .action-buttons { display: block; }

.small-button {
  display: inline-block;
  width: 60px;
  height: 38px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background: rgba(98, 46, 236, 1);
  text-align: center;
  color: #fff !important;
  padding: 12px 0 0 0;
  margin: 0 3px 0 0;
}

.small-button.cancel {
  background: rgba(98, 46, 236, .25);
  color: #622EEC !important;
}

.initializing .small-button.cancel { display: none; }

.activity {
  width: 300px;
  height: 232px;
  overflow: hidden;
  background: #f1f1f1;
  padding: 15px;
  border: 2px solid #e5e5e5;
  position: relative;
  margin: 10px;
}

.activity h2 {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.history {
  max-height: 130px;
  overflow: hidden;
}

.wide-button {
  border: 2px solid #000;
  font-size: 50px;
  margin: 10px 0 10px 10px;
  padding: 0 10px;
  position: relative;
  width: 300px;
  height: 140px;
  cursor: pointer;
  display: inline-block;
}

.square-button {
  width: 140px;
  height: 140px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  text-align: center;
}

.extra-space { margin-right: 170px; }

.wide-button.current-increment {
  height: 48px;
  font-size: 14px;
  padding: 16px 15px 0 15px;
  font-weight: bold;
}

.wide-button.current-increment.typing {
  font-size: 0;
}

.increment-wrapper {
  position: absolute;
  top: 16px;
  right: 15px;
  font-size: 14px;
}

.square-button.active { background: #000; }

.square-key {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

.square-description {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.button-description {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
}

.current-ask .button-description::after {
  content: 'Current ask';
}

.initializing .current-ask .button-description::after {
  content: 'Starting ask';
}

.current-ask .button-value {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  text-align: right;
}

.footing {
  position: absolute;
  top: 10px;
  right: 10px;
}

.footing-indicator {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/footing-indicator.svg);
}

.on .footing-indicator { display: none; }

.disabled .footing { display: none; }

.line-item {
  font-size: 14px;
  color: #666;
  position: relative;
  margin: 0 0 20px 0;
}

.line-item.highest-bid { color: #000; font-weight: bold; }
.line-item.rejected span { color: #ccc; text-decoration: line-through; }

.typing { border-color: #6E1FFF; color: #6E1FFF; }
.typing span { color: #6E1FFF; }

.value {
  position: absolute;
  right: 0;
  top: 0;
}

.floor { background: #0EDA83; }
.online { background: #6E1FFF; }
.warning { background: #F1AF1B; }
.last-call { background: #F7625A; }
.undo { background: #ccc; }

.sell-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 266px;
  height: 60px;
  background: #000;
  color: #fff;
}

.sell-button .description {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
}

.sell-button .button-value {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
}

.yellow { color: #F1AF1B; font-weight: bold; }
.red { color: #F7625A; font-weight: bold; }

.disabled.online,
.disabled.online-bidder {
  border: 2px solid #e5e5e5;
  background: #fff;
  color: #ccc;
}

.utilities {
  position: relative;
  width: 660px;
  margin: 15px auto;
}

.cog {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.auction-house {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  position: relative;
  top: 12px;
}
