body {
  margin: 0;
  padding: 40px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

h2, h3 { font-size: 18px; }
h2 { margin: 0; }
h3 { margin: 40px 0 0 0; }

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 0 20px;
  padding: 0;
}

a { color: #000; }
a:hover { background: #ffa; }
