html, body {
  margin: 0;
  padding: 0;
}

.landing .slider-wrapper { display: none; }

.slider-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 49px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar { display: none; }

.a .slider-wrapper .slider {
  width: 666px;
  height: 100%;
  background-size: 666px 49px;
  background-image: url('a-slider.jpg');
}

.b .slider-wrapper .slider {
  width: 573px;
  height: 100%;
  background-size: 573px 49px;
  background-image: url('b-slider.jpg');
}

.switcher {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.about .switcher { display: none; }

.about .back {
  width: 84px;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;
}
.landing .back { display: none; }

.about { cursor: pointer; }

.a .about-link {
  width: 100%;
  height: 47px;
  position: absolute;
  top: 249px;
  left: 0;
}

.b .about-link {
  width: 44px;
  height: 24px;
  position: absolute;
  top: 195px;
  left: 158px;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  background-size: 375px 1001px;
}

.wrapper.landing {
  background-size: 375px 1001px;
  height: 1001px;
}
.wrapper.about {
  background-size: 375px 1239px;
  height: 1239px;
}

.a.landing { background-image: url('a-landing.jpg'); }
.b.landing { background-image: url('b-landing.jpg'); }
.about { background-image: url('a-about.jpg'); }
