html, body {
  margin: 0;
  padding: 0;
}

.switcher {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.wrapper {
  width: 1192px;
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 1173px;
  position: relative;
}

.a { background-image: url('a.jpg'); }
.b { background-image: url('b.jpg'); }
.c { background-image: url('c.jpg'); }
.d { background-image: url('d.jpg'); }

.tooltip {
  top: 944px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.a .tooltip,
.d .tooltip { left: 555px; }
.b .tooltip { left: 606px; }
.c .tooltip { left: 587px; top: 816px; }

.tooltip-message {
  width: 296px;
  height: 80px;
  display: none;
  position: relative;
  top: -5px;
  left: -5px;
}

.tooltip:hover .tooltip-message {
  display: block;
}

.a .tooltip-message,
.d .tooltip-message { background-image: url('tooltip-a.jpg'); }
.b .tooltip-message { background-image: url('tooltip-b.jpg'); }
.c .tooltip-message { background-image: url('tooltip-c.jpg'); }
