.letter-shell {
  width: 200px;
  height: 300px;
  background: #f1f1f1;
}

.letter-wrapper {
  width: 200px;
  height: 300px;
  display: none;
}

.regular { background: #ff0; }
.encrypted { background: #0f0; }

.show {
  display: block;
}